.parallax {
    /* The image used */
    background-image: url('../../images/cover.jpg');
  
    /* Set a specific height */
    min-height: 250px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .tag{
      color: white;
      font-size: 40px;
      font-weight: bold;
      margin-left: 20px;
  }