.back{
    height: 100vh;
    background-image: url('../../../images/cover.jpg');
    /* position: absolute; */
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

.logo{
    height: 100px;
    padding-right: 0px;
    padding: 5px;
}

.mobi{
    font-weight: bold;
    color: #459DF1;
}

.name{
    color: white;
    margin-right: auto;
    font-size: 30px;
}

.admin{
    margin-left: auto;
    margin-right: 30px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(53, 53, 53, 0.295);
}

.admin:hover{
    color: #459DF1;
}

.signup{
    text-align: center;
}

form {
    font-size: 0;
}

.input{
    width: 400px;
    padding: 20px;
    margin: 0px;
    border: none;
    text-align: center;
    font-size: 15px;
    color: rgb(143, 143, 143);
    opacity: 0.9;
}

.email{
    border-bottom: 0.5px solid rgb(224, 224, 224);
    border-radius: 10px 10px 0px 0px;
}

.pass{
    border-radius: 0px 0px 10px 10px;
}

.namee{
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.eye{
   width: max-content;
   margin: auto;
    color: rgb(206, 206, 206);
    font-size: 20px;
    cursor: pointer;
    
}

.button{
    background-color: #459DF1;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50px;
    width: 250px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
}

.button:hover{
    background-color: #0084ff;
    color: white;
}

.welcome{
    margin-top: 50px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.text{
    width: 300px;
    margin: auto;
    color: rgb(228, 228, 228);
    padding: 20px 0px;
}

.feat_cont{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 100px 0px 0px 0px;
    /* grid-gap: 100px; */
}

.feature{
    display: inline-block;
    background-color: red;
    background-color: rgba(128, 128, 128, 0.349);
    border-radius: 50px;
    color: white;
    margin: auto 25%;
    /* position: relative;
    bottom: ; */
}

.cont{
    padding: 18px 8px;
}

.icon{
    display: inline;
    background-color: rgba(255, 248, 248, 0.199);
    padding: 10px 14px;
    border-radius: 100px;
    font-size: 25px;
    
}

.feat_txt{
    display: inline;
    padding:20px 20px;
    font-size: 20px;
}








