*{
    margin: 0px;
    padding: 0px;
}

.main_nav{
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
    
}

.link{
    padding: 20px;
}

.push{
    margin-left: auto;
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.logo{
    height: 70px;
    display: inline;
    padding: 0px;
    margin: 0px;
}

.name{
   margin-right: 60px;
   font-size: 25px;
}

.main_nav a:hover,
.main_nav a:active,
.main_nav a.active {
    color: #;
}
